/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 1.9rem;
}

.page-footer {
  background: #111;
  padding-bottom: 60px;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }


  #index-banner .section {
    position: absolute;
    top: 39%;
  }



.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


body {
  font-family: Nunito;  
}

#nav-main {
  position: fixed;
  bottom: -100px;
  width: 100%;
  height: 60px;
  background: #030303;
  z-index: 10000;
  transition: bottom 0.2s;
}

#nav-main.shown {
  bottom: 0;
}

#index-banner {
  height: 100%;
  height: 100vh;
}

nav .button-collapse {
  float: right;
}

nav ul a, nav .brand-logo {
  color: #fff;
}


nav .brand-logo {
  font-size: 1.3rem;
}

#hamburger {
  display: block;
  margin-top: 15px;
}


.no-margin {
  margin: 0;
}

hr {
  border: 0;
  background: #eee;
  height: 1px;
}

#nav-main li a {
  color: #999;
}

#nav-main .right li a:hover {
  color: #ddd;
}

#nav-main li.active {
  display: block !important;
}

#nav-main li.active a {
  font-weight: bold;
  color: #fff;
}
#nav-mobile li.active a {
  color: #000 !important;
}

.justify {
  text-align: justify;
}

.author {
  padding: 15px;
}

.exploit {
  display: block;
  color: #fff;
  border-top: 5px solid rgba(1,1,1,0.01);
  padding: 10px;
}

.exploit:hover {
  background: rgba(0,0,0,0.05);
}

.exploit p, .exploit b {
  display: block;
  padding: 0;
  margin: 0;
  line-height: 1.3em;
}

.exploit p {
  margin-top: 5px;
}

.modal-close {
  position: absolute;
  top: 25px;
  right: 0px;
}

.top-logo {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -25px;
}

.page-header {
  padding-right: 140px;
}

@media only screen and (max-width: 600px) {
  p {
    text-align: justify;
  }

  .page-header {
    padding-right: 50px;
  }
}

blockquote {
  border-color: #ddd;
}

section.content {
  padding-left: 20px;
  padding-right: 20px;
}

.news-item {
  color: #000;
  display: block;
  padding: 10px;
  margin-top: 10px;
}

.news-item:hover {
  background: #eee;
}

.xiphos {
  background: #31b7ba url(../img/940x350-1.png) no-repeat bottom left;
  padding-bottom: 200px;
}

.xiphos-text, a {
  color: #31b7ba;
}


body {
  background: #111;
}
#top-container {
  background: #fff;
  max-width: 1100px;
  margin: 0 auto;
}

#index-banner {
  /**/
  z-index: 0;
  background: #333 url(../img/fotolia_120116025.png) no-repeat bottom;
  background-size: cover;
  position: relative;
}
#index-background {
  z-index: -1;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}