body {
	font-family: Nunito;	
}

#nav-main {
	position: fixed;
	bottom: -100px;
	width: 100%;
	height: 60px;
	background: #030303;
	z-index: 10000;
	transition: bottom 0.2s;
}

#nav-main.shown {
	bottom: 0;
}

#index-banner {
	height: 100vh;
}

nav .button-collapse {
	float: right;
}

nav ul a, nav .brand-logo {
	color: #fff;
}


nav .brand-logo {
	font-size: 1.3rem;
}

#hamburger {
	display: block;
	margin-top: 15px;
}


.no-margin {
	margin: 0;
}

hr {
	border: 0;
	background: #eee;
	height: 1px;
}

#nav-main li a {
	color: #999;
}

#nav-main .right li a:hover {
	color: #ddd;
}

#nav-main li.active {
	display: block !important;
}

#nav-main li.active a {
	font-weight: bold;
	color: #fff;
}
#nav-mobile li.active a {
	color: #000 !important;
}

.justify {
	text-align: justify;
}

.author {
	padding: 15px;
}

.exploit {
	display: block;
	color: #fff;
	border-bottom: 1px solid #222;
	padding: 10px;
}

.exploit:hover {
	background: #222;
}

.exploit p, .exploit b {
	display: block;
	padding: 0;
	margin: 0;
	line-height: 1.3em;
}

.exploit p {
	margin-top: 5px;
}

.exploits .more {
	color: #aaa;
	text-align: center;
	padding: 20px;
	display: block;
	font-weight: bold;
}

.exploits .more:hover {
	color: #fff;
}


.modal-close {
	position: absolute;
	top: 25px;
	right: 0px;
}

