---
layout: none
index: 'yes'
follow: 'yes'
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en-US" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US" class="no-js"> <!--<![endif]-->

<head>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Title -->
    <title>Xiphos Research</title>

    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//media.licdn.com' />

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,700,700i" rel="stylesheet">

    <link href="css/materialize.css" rel="stylesheet" media="screen,projection" />

    <link href="css/style.css" rel="stylesheet" media="screen,projection" />
    <link href="css/style2.css" rel="stylesheet" media="screen,projection" />
</head>

<body>

	<nav id="nav-main" role="navigation">
    	<div class="nav-wrapper container">
	        <a id="logo-container" href="#">
            <img class="left" src="img/logo-white.png" height="40" style="margin-top: 10px;" />
          </a>
          <div class="left white-text" style="margin-left: 10px; margin-top: 15px; line-height: 1.2rem">
            XIPHOS<br />
            RESEARCH
          </div>
          <a data-activates="nav-mobile" class="right button-collapse">
            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDMyIDMyIj48cmVjdCB4PSIwIiB5PSIzIiBmaWxsPSIjZmZmIiB3aWR0aD0iMzIiIGhlaWdodD0iNSIgcng9IjMiIHJ5PSIzIi8+DQo8cmVjdCB4PSIwIiB5PSIxNCIgZmlsbD0iI2ZmZiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjUiIHJ4PSIzIiByeT0iMyIvPjxyZWN0IHg9IjAiIHk9IjI1IiBmaWxsPSIjZmZmIiB3aWR0aD0iMzIiIGhlaWdodD0iNSIgcng9IjMiIHJ5PSIzIi8+PC9zdmc+" id="hamburger" width="30" height="30" />
	      	</a>
          <ul class="right">
            <li class="hide-on-med-and-down"><a href="#why-xiphos">Why Xiphos?</a></li>
            <li class="hide-on-med-and-down"><a href="#services">Security Services</a></li>
            <li class="hide-on-med-and-down"><a href="#industries">Industries</a></li>
            <li class="hide-on-med-and-down"><a href="#research">Research</a></li>
            <li class="hide-on-med-and-down"><a href="#contact-us">Contact Us</a></li>
          </ul>

          <div id="nav-mobile" class="side-nav">
            <div class="container" style="margin-left: 30px; margin-top: 15px; margin-bottom: 10px;">
              <a id="logo-container" href="#">
                <img class="left" src="img/logo-black.png" height="40" style="margin-top: 10px;" />
              </a>
              <div class="left black-text" style="margin-left: 10px; margin-top: 15px; line-height: 1.2rem">
                XIPHOS<br />
                RESEARCH
              </div>
              <a class="right black-text" style="color: #ddd; font-size: 24px; margin-top: -8px;" id="nav-close">
                x
              </a>
            </div>
            <ul>
              <li><a href="#why-xiphos">Why Xiphos?</a></li>
              <li><a href="#services">Security Services</a></li>
              <li><a href="#industries">Industries</a></li>
              <li><a href="#research">Research</a></li>
              <li><a href="#contact-us">Contact Us</a></li>
            </ul>
          </div>

    	</div>
  	</nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <div class="row">        
          <div class="col s12 m8 l6">
            <h1 class="header text-lighten-2" style="margin-bottom: 0; font-size: 38px;">
              <img src="img/logo-white.png" height="70" style="margin-top: 5px; margin-right: 10px;" class="left" />
              XIPHOS<br />RESEARCH
            </h1>
          </div><!-- .col -->
          
          <div class="col s12 m4 l6">
            <a id="find-out-more" href="#why-xiphos" class="btn-large waves-effect waves-light teal lighten-1" style="margin-top: 45px;">Find Out More</a>
          </div><!-- .col -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- .section -->

    <div class="parallax" style="background: #000;"><img style="opacity: 0.1;" src="img/fotolia_120116025.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <section id="why-xiphos">
      <br />
    	<h2 class="center"><a name="why-xiphos" class="black-text">
        The Xiphos Difference
      </a></h2>

      <p style="text-align: center; font-style: italic; font-size: 160%;">
        At Xiphos we work with companies who can get the most benefit from cutting-edge security  services, <b>our holistic approach is backed with decades of real-world hacking experience and provides hard-hitting insights</b>.
      </p>
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h5 class="center">Continuous Testing</h5>

            <p class="justify">
              Normally you are required to pay for at least one security test per year to comply with regulations; while Xiphos can check your boxes, real hackers only need one foot-hold - regardless of regulations like GDPR, PCI or ISO.
            </p>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h5 class="center">Full Project Cycle</h5>

            <p class="justify">From A to Z there are points where having security insight can help to assure the quality of the end result. Throughout the lifecycle of your project we continuously test for and identify security critical issues.</p>
          </div>
        </div>
      </div>

        <div class="row" style="background: #eee;">          
          <br />
          <h5 class="center" style="line-height: 1.5em; padding-left: 10px; padding-right: 10px;">
            Request a callback today on <b>0800 500 1337</b>, or get in touch on <a href="mailto:sales@xiphosresearch.co.uk"><b>sales@xiphosresearch.co.uk</b></a>
          </h5>
          <br />
        </div>
        <br />
    </section><!-- .section -->
  </div><!-- .container -->


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">
          	80% of hackers can be stopped with one simple trick...
          </h5>
        </div>
      </div>
    </div>
    <div class="parallax" style="background: #000;"><img style="opacity: 0.1;" src="img/1.jpg" alt="Unsplashed background img 2"></div>
  </div><!-- .parallax -->

  <div class="container">
    <section id="services">
      <br />
      <h3 class="center"><a name="services" class="black-text">What Does Xiphos Do?</a></h3>
      <div class="row">
        <div class="col s12 m6">
          <p>Xiphos Research offers a range of security services to our clients that allow them to easily understand the threat landscape and take practical counter-measures. We pride ourselves on providing timely and appropriate advice, and are steadfast in our resolve to provide services that deliver a cost effective means of combating current and emerging digital threats.</p>
          <p>At Xiphos Research we pride ourselves on being on the cutting edge of security vulnerability research, and this deep knowledge is integrated not only into our product set but forms an essential element of our client services.</p>
        </div>

        <div class="col s12 m6">
        	<div class="collection">
        		<a class="collection-item modal-trigger" href="#modal-1">Application Security Testing</a>
        		<a class="collection-item modal-trigger" href="#modal-2">Infrastructure Security Testing</a>
        		<a class="collection-item modal-trigger" href="#modal-3">Source Code Review</a>
        		<a class="collection-item modal-trigger" href="#modal-4">Wireless Security Testing</a>
        		<a class="collection-item modal-trigger" href="#modal-5">Physical Security Testing</a>
        		<a class="collection-item modal-trigger" href="#modal-6">Client-side Security Testing</a>
        		<a class="collection-item modal-trigger" href="#modal-7">PCI-DSS Penetration Testing</a>
        		<a class="collection-item modal-trigger" href="#modal-8">Training</a>
        	</div>
        </div>
      </div>
    </section><!-- .section -->

    <div id="modal-1" class="modal">
      <div class="modal-content">
        <a href="#!" class="right modal-action modal-close waves-effect btn-flat">x</a>
        <h5>Application Security Testing</h5>
<p>The security (or otherwise) of enterprise applications has become an increasing concern over the last decade. Ensuring the
        security posture of external facing and internal applications has become a significant business focus. Many organisations claim
        to be able to deliver focused, outsourced assessment services, however Xiphos Research are unique in as much as traditionally
        the security assessment of web application and services security has been one of our core business areas of focus and expertise.</p>
        
        <p>Xiphos Research provides our clients with a proven methodology that is backed up by industry recognised expertise coupled with
        a passionate and innovative approach to application and services security. Xiphos employ an approach that is focused on ensuring
        that not only are our clients protected from a range of current attack vectors, but can also continue to guard themselves against
        emerging digital threats.</p>
        
        <p>Our project approach is attuned individually to suit the unique needs and criteria of our clients. It can be loosely defined
        as following an assessment cycle that consists of the following distinct stages:
        </p><ul class="browser-default">
          <li>Information Gathering and Enumeration</li>
          <li>Vulnerability Identification</li>
          <li>Attack, Exploitation and Penetration</li>
          <li>Privilege Escalation</li>
          <li>Reporting and Documentation</li>
          <li>Clean up and Debriefing</li>
        </ul>
        <p></p>
        <p>Each stage of the application security assessment process is conducted in the strictest confidence and with client confidentiality
        and safety our highest priority. As well as conducting assessment activities, it is the assertion of Xiphos Research, that results
        are meaningless unless they are contextual to the needs and requirements of our clients. As part of the reporting cycle we prioritise
        discovered vulnerabilities and analyse and verify the results. As part of the reporting cycle, Xiphos Research provide our clients
        with vulnerability descriptions that can be understood by all levels of personnel within client organisations but also contain
        mitigation strategies that easily allow vulnerabilities to be addressed in a timely and secure manner.</p>
        
        <p>The application security assessment services provided by some companies consist of nothing more that scanning client services and
        applications with 'off the shelf' software. This is an approach that XRL are fundamentally opposed to. Although automated security
        applications provide a broad overview of the security of applications and services, they lack the depth that can only be provided by
        manual testing undertaken by experts. The security assessment activities undertaken by XRL are specifically designed to mirror the
        attacks and methodologies that would be employed by a knowledgeable and skilled remote attacker, and ensure that our clients are
        protected against people, and not just software. </p>


      </div>
    </div>

    <div id="modal-2" class="modal">
      <div class="modal-content">
        <a href="#!" class="right modal-action modal-close waves-effect btn-flat">x</a>
        <h5>Infrastructure Security Testing</h5>
            <p>Xiphos Research provides a range of specialist infrastructure security assessment services that can be performed either on an
        individual ah-hoc basis, or as part of a holistic and comprehensive security review. Our service offerings are designed to assist
        our clients in defining and defending against threats to system integrity and confidentiality, and safeguarding their digital
        information assets. Our specialist service offerings include:
        </p><ul class="browser-default">
          <li><b>Workstation Assessment Services</b> - Designed to rapidly assess the security posture of large distributed
          workstation environments, this service offering also discovers vulnerabilities in Operating System platforms,
          network connectivity, and legacy system security services</li><br>
          <li><b>IDS/IPS Assessment Services</b> - A defensive posture is only as strong as its weakest link. This service
          evaluates both Intrusion Detection Systems and Intrusion Prevention Systems effectiveness at detecting and blocking
          attack vectors as well as seeking to bypass security mechanisms in place</li><br>
          <li><b>Firewall Assessment Services</b> - This service offering consists of a detailed study of perimeter firewalls,
          and seeks to discover any potential vulnerabilities from both a host and policy perspective.</li><br>
          <li><b>Database Security Assessment Services</b> - Database hosts are often correctly described the most vital assets
          of an organisation. This offering evaluates the configuration and security of database environments, and assists
          our clients in their protection</li>
        </ul>
        <p></p>
        <p>Xiphos Research has proven consistently that our infrastructure Security testing services can be delivered rapidly and
        consistently to a global customer base, fully addressing specific client needs and requirements.</p>    
      </div>
    </div>

    <div id="modal-3" class="modal">
      <div class="modal-content">
        <a href="#!" class="right modal-action modal-close waves-effect btn-flat">x</a>
        <h5>Source Code Review</h5>
          <p>The analysis of source code from a security perspective has traditionally been an expensive and time consuming proposition
        for many enterprises. Xiphos Research believes that secure code review services should be within reach for all enterprise
        environments, without impacting unrealistically upon either the economic or time demands of modern business.</p>
        
        <p>The code review services we offer  provide a cost effective and rapid means to be assured of the security posture of
        applications (whether developed in house or by third parties). Unlike some of our rivals we do not offer a service solely
        dedicated to providing our clients with an 'overview' or other 'high level' understanding of the security or otherwise of
        custom code bases, rather we believe in line analysis by our expert staff, can provide far more value than merely conducting
        interviews with development staff, and reviewing documentation.</p>
        
        <p>The human analysis of source code by experienced professionals delivers best value to our clients. Although we will be
        the first to admit that we deploy a variety of off the shelf and custom applications to assist in the code review process
        (indeed, we are currently developing applications to assist developers in finding security deficits in their code) it is
        our assertion that senior software engineers and security specialists manually reviewing code can help minimise a variety
        of security threats, as well as optimising the code base. This is especially pertinent in the case of applications developed
        in custom language sets, or legacy applications that may not be supported by automated code review tools.</p>
        
        <p>To adequately review enterprise level applications manually, and on a line by line basis within an acceptable time frames
        and economic limitations is no easy proposition. To deliver best value to our diverse global client base, we have developed a
        unique and proven three stage approach to conducting secure code reviews, namely:</p>
        
        <ul class="browser-default">
          <li><b>Consultation</b> - During this phase of an engagement, we seek to leverage any information that may exist to
          help identify any potential areas of critical security impact, as well as gathering a clear scope of what our client
          acceptable levels of risk are, and what their project scope is</li><br>
          <li><b>Mapping</b> - This stage of a project, allows our staff to gain a detailed understanding of the application
          architecture, components and dependencies, as well as identifying areas of security related functionalities, and
          potential areas of weaknesses.</li><br>
          <li><b>Review</b> - Following an initial mapping of the application and supporting architectures, technical
          specialists conduct a detailed review of the application source code using both manual techniques, as well as
          proprietary code analysis tools to identify security weaknesses and logical flaws that may impact upon the
          security and integrity of the application solution. </li>
          
        </ul>
      </div>
    </div>

    <div id="modal-4" class="modal">
      <div class="modal-content">
        <a href="#!" class="right modal-action modal-close waves-effect btn-flat">x</a>
        <h5>Wireless Security Testing</h5>
          <p>Wireless networks are cheap and easy to deploy, and in recent years, wireless LANs have become part of many enterprise
        environments and networks. The wireless security testing services offered by Xiphos Research can assist your enterprise in
        understanding the risks that may be introduced by adopting wireless infrastructure and methods for managing and defending
        against them.</p>
        
        <p>The wireless security testing services offered by Xiphos Research allow our clients to develop a range of strategies
        for understanding and managing risks and vulnerabilities, increase market and customer confidence, adequately protect their
        brand image and deliver viable and long term business success. Xiphos Research wireless testing services allow our client
        base to assess and validate the strength, stability and integrity of wireless infrastructure by utilising our expert
        penetration testing services. Our depth of knowledge includes wireless networking protocols such as wireless local area
        networks (802.11), wireless wide area networks (GSM, UMTS, GPRS, etc.) and wireless personal area networks (Bluetooth).
        In addition to assessing the security of the implemented wireless estate, the wireless testing services offered by Xiphos
        Research allow our clients to rapidly determine any rogue Access Points in use within their estate.</p>
      </div>
    </div>

    <div id="modal-5" class="modal">
      <div class="modal-content">
        <a href="#!" class="right modal-action modal-close waves-effect btn-flat">x</a>
        <h5>Physical Security Testing</h5>
          <p>Many security consulting providers are happy to solely focus upon technical risk. Although this doubtless is an essential
        element in any organisation improving their security posture, at Xiphos Research we ardently believe that the physical security
        of facilities and properties is a critical aspect of both business continuity planning and information security. Xiphos
        Research address this requirement with a skilled and expert team that blend real world experience and expertise to focus upon
        allowing our client base to develop effective physical security protections.</p>
        
        <p>During a physical security test, Xiphos consultants perform inspections of both facilities and operations. Unlike many of
        our competitors that offer additional services (at extra cost) for covert assessment, this is included as standard as part of
        the XRL physical security assessment process. In addition to conducting overt site inspections, policy reviews, and interviews
        with key personnel to discover deviations from best practice and organisation security policy sets, Xiphos Research offer as
        standard, covert inspection of premises and protection mechanisms. Our physical security assessment offering encompasses covert
        techniques such as pretext entry, electronic signal sweeping, long range surveillance, security systems bypass, and other methods.
        Simply put, we can be as overt or as covert as our clients require at one fixed cost price.</p>
        
      </div>
    </div>

    <div id="modal-6" class="modal">
      <div class="modal-content">
        <a href="#!" class="right modal-action modal-close waves-effect btn-flat">x</a>
        <h5>Client-side Security Testing</h5>
          <p>Typically penetration testing activities focus upon familiar assets (e.g. the external facing IP addresses associated with a
        client organisations, the DMZ, the firewall instances, etc.) however, XRL strongly believe that this approach fails to provide
        risk assurance and may be allowing organisations to falsely believe their security posture is greater than it in actuality is.
        Perimeter protections have becoming increasingly resilient, but internal defences are often still a pronounced security risk.</p>
        
        <p>A number of our competitors offer some client side penetration services, typically however such actions are limited in scope
        to spear-phishing activities, whereby they seek to manipulate legitimate users via email. Xiphos Research believes that the range
        of 'testing' should extend beyond sending a few emails however.</p>
        
        <p>The client side security assessment activities offered by XRL include a range of test vectors. In addition to the manipulation
        of client personnel via malicious emails / distribution of links, Xiphos Research are adept at the creation of targeted malware,
        and social engineering and data collection activities. In addition to testing the endpoint security of client systems and the
        identification of linked sensitive systems, we can also test the efficacy of protection mechanisms (such as AV and mail gateways)
        that may be in place.</p>

        <p>Not only do the client side security assessment services that we offer by identify vulnerabilities within
        endpoint client security and processes, but also within protection mechanisms and linked sensitive systems. In addition to purely
        technical attacks, we can at client request engage in focused social engineering attacks encompassing physical intrusion and
        telecommunications manipulation / interception.</p>
      </div>
    </div>

    <div id="modal-7" class="modal">
      <div class="modal-content">
      <a href="#!" class="right modal-action modal-close waves-effect btn-flat">x</a>
        <h5>PCI-DSS Penetration Testing</h5>
          <p>The requirements mandated by the Data Security Standard (DSS) as issued by the PCI council clearly state that penetration
        testing activities must be conducted regularly by any organisation processing or storing credit card data. Xiphos Research
        works closely with a number of reputable QSA companies to facilitate technical penetration testing activities that encompass
        multiple layer attack scenarios. Many penetration testing providers approach a PCI mandated penetration testing engagement
        in much the same manner as any other engagement, XRL believe however that the core focus of such testing should always be
        concerned with the security (or otherwise) of any card holder data stored or processed by the commissioning client.</p>
        
        <p>The penetration testing services provided by Xiphos Research on behalf of our clients encompass both automated and manual
        testing strategies and approaches. Many of our competitors are happy to provide a low skilled junior operating an automated
        tool as the basis of their PCI testing regimens. We believe that this approach is fundamentally flawed. Not only does it fail
        to provide best value to the customer, but in many situations can fail to accurately identify, exploit, and quantify risk.</p>
        
        <p>As part of any ROC (Report on Compliance) we believe that an organisation, or the QSA acting on its behalf, are fully
        appraised of and aware of any technical weaknesses that may impact upon the security of their networks, applications,
        processes, and indeed, card holder data. For this reason, the PCI penetration testing services performed by Xiphos
        Research are always enacted by skilled and experienced professionals whose motivator is to substantiate, demonstrate, and
        if necessary, replicate the attack vectors included in any reporting documentation produced as part of an engagement. We do
        not provide sweeping and unproven technical recommendations as part of the reporting cycle, but rather seek to identify
        (and if possible) exploit vulnerabilities that can then be documented, understood, and addressed as part of the compliance
        process.</p>
        
        <p>We work closely with a number of reputable international QSA companies and merchant client to provide technical testing
        and assessment services. Our specialist, goal focused, penetration testing services have helped some of the largest
        merchant groups in Europe gain compliance with PCI requirements, and truly identify and resolve risks, that automated
        scanners alone would not have identified.</p>
      </div>
    </div>

    <div id="modal-8" class="modal">
      <div class="modal-content">
          <a href="#!" class="right modal-action modal-close waves-effect btn-flat">x</a>
          <h5>Training</h5>
          <p>Organisational approaches to, and concerns about security differ from client to client, sector to sector. Xiphos Research
        provides training services to suit the specific needs of our client base. We provide training and knowledge transfer services
        that encompass both general courses for IT staff on how to counteract current security attack vectors (as well as audit their
        own environments) to highly specialised knowledge transfer to security specialists (including other security consulting companies).</p>
        
        <p>The training services offered by Xiphos, are all designed with the student in mind, and with organisational needs at the
        forefront. Training can be delivered either on client premises, or from a variety of secure training locations throughout the globe.</p>
        
        <p>Xiphos Research deliver both specialist (and individually created) knowledge transfer sessions, as well as general security
        training courses. Examples of current training courses include:
        </p><ul class="browser-default">
          <li>Database Security (Oracle and MS-SQL)</li>
          <li>Web Application Security</li>
          <li>Behind Enemy Lines</li>
          <li>Secure Coding (multiple languages)</li>
          
        </ul>
        <p></p>
        <p>Additionally, we are currently composing a 2 day seminar concerning with security testing practice in accordance with
        external standards (e.g. PCI DSS).</p>
      </div>
    </div>
  </div><!-- .container -->


  <div class="container">
		<div class="section">
	  		<div class="row">
	  			<div class="col s12 l6">
	  				 <img src="img/hm-roadmap.png" style="width: 95%; max-width: 400px; display: block; margin: 0 auto;" />
	  			</div>

	  			<div class="col s12 l6">
	  				<h4 class="center">Assessment Process</h4>
	  				<p>
	  				To that end, Xiphos offer continuous penetration testing to our clients. For a fixed fee, Xiphos offer a mechanism where internal and external testing can be performed on an ad-hoc and as needed basis. This allows our clients to rapidly identify critical vulnerabilities that exist within their technology stacks without the delays that may be caused by traditional penetration testing cycles. </p>

					<p>By utilising a secure, proven, and bespoke remote access solution, Xiphos can test both internal and external assets on a pre-agreed cycle, or an ad-hoc basis to fully emulate the actions of a dedicated attacker who has gained access to an estate. </p>
	  			</div>

  		</div><!-- .row -->
  	</div><!-- .section -->
  </div><!-- .container -->


  <div class="container">
    <div class="row" style="background: #eee;">          
      <br />
      <h5 class="center" style="line-height: 1.5em;">
        Request a callback today on <b>0800 500 1337</b>, or get in touch on <a href="mailto:sales@xiphosresearch.co.uk"><b>sales@xiphosresearch.co.uk</b></a>
      </h5>
      <br />
    </div>

    <section id="industries">
      <br />
      <h3 class="center"><a name="industries" class="black-text">Specialist Industries</a></h3>
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h5 class="center">Financial Services</h5>

            <p class="light">Various regulatory frameworks now insist upon a regular program of vulnerability assessment and penetration testing. To address this requirement many vendors offer automated vulnerability scanning which is typically conducted on a monthly or quarterly cycle with a regular program of testing at key intervals.</p>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h5 class="center">Legal Services</h5>

            <p class="light">The <a href="https://panamapapers.icij.org/">Panama Papers</a> data leak in 2015 highlights the importance of a robust security programme to protect your brand, reputation and clients. Xiphos Research has bespoke solutions to mitigate internal and external data-leaks in addition to hacking attacks and malware, we take client confidentiality seriously and focus on real risks.</p>
          </div>
        </div>
      </div>

    <div class="row">
          <div class="col s12 m6">
            <div class="icon-block">
              <h5 class="center">Emerging Technology</h5>

              <p class="light">Unlike many of our competitors, Xiphos attack like attackers would and do, and provide a repeatable mechanism for identifying and resolving risks in new and emerging technologies. Our penetration testing services seek to not only identify vulnerabilities but to actively and aggressively exploit them.</p>
            </div>
          </div>

          <div class="col s12 m6">
            <div class="icon-block">
              <h5 class="center">Financial Technology</h5>

              <p class="light">Knowing the security of your smart-contract and blockchains is a good first step, but ultimately they are the tip of an iceberg; many companies don't spend the same level of attention to the rest of their infrastructure and policies, often leaving them exposed in unknown ways until the worst happens.</p>
            </div>
          </div>
        </div>

    </section><!-- .section -->
  </div><!-- .container -->

  <div class="parallax-container">
    <section class="no-pad-bot" id="research">
      <div class="container">

        <div class="row">
          <div class="col m6 s12">
            <h4 class="header center">
              <br />
              Research &amp; News
            </h4>
            
            <div class="exploits">
              {% for post in site.posts %}
                {% if post.layout == 'news' or post.layout == "page" %}
                  <a class="exploit" target="_blank" href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">
                    <b>{{ post.title }}</b>
                    {% if post.excerpt | strip %}
                      <p>{{ post.content | strip_html | truncatewords:20, "..." }}</p>
                    {% endif %}
                  </a>
                {% endif %}
              {% endfor %}

              <a class="more" target="_blank" href="news.html">View More &#9658;</a>
            </div><!-- .exploits -->

          </div><!-- .col -->

          <div class="col m6 s12">
            <h4 class="header center">
              <br />
              Exploits
            </h4>

            <div class="exploits">
              <a class="exploit" target="_blank" href="https://github.com/XiphosResearch/exploits/tree/master/wipgpwn">
                <b>wipgpwn</b>
                <p>Remote Root Exploit for WePresent WiPG-1000,1500,2000 devices</p>
              </a>

              <a class="exploit" target="_blank" href="https://github.com/XiphosResearch/exploits/tree/master/Joomblah">
                <b>Joomblah</b>
                <p>Joomla 3.7.0 SQL Injection exploit (CVE-2017-8917)</p>
              </a>

              <a class="exploit" target="_blank" href="https://github.com/XiphosResearch/exploits/tree/master/FreeACS-Pwn">
                <b>FreeACS-Pwn</b>
                <p>TR-069 exploit for FreeACS server, disclosed at BSides Edinburgh</p>
              </a>

              <a class="exploit" target="_blank" href="https://github.com/XiphosResearch/exploits/tree/master/screen2root">
                <b>screen2root</b>
                <p>Screen 4.05.00 (CVE-2017-5618) local privesc</p>
              </a>

              <a class="exploit" target="_blank" href="https://github.com/XiphosResearch/exploits/tree/master/tr-06fail">
                <b>tr-06fail</b>
                <p>TR-064 Misimplementations leading to remote device takeover in ZyXEL Routers</p>
              </a>

              <a class="exploit" target="_blank" href="https://github.com/XiphosResearch/exploits/tree/master/droppleganger">
                <b>DroppleGanger</b>
                <p>Droppler <= 1.6.5 Auth-Bypass &amp; RCE</p>
              </a>

              <a class="more" target="_blank" href="https://github.com/XiphosResearch/exploits">View More on GitHub &#9658;</a>
            </div><!-- .exploits -->

          </div><!-- .col -->

        </div><!-- .row -->

      </div><!-- .container -->
    </section>
    <div class="parallax" style="background: #000;"><img src="img/fotolia_97908871.jpg" style="opacity: 0.05;" alt="Unsplashed background img 3"></div>
  </div><!-- .parallax-container -->

  <section class="container" id="contact-us">
    <br />
    <div class="row">
      <div class="col m6 s12 center">
        <h5><a class="black-text" name="contact-us">Get In Touch</a></h5>

        <p>E-mail <a href="mailto:sales@xiphosresearch.co.uk">sales@xiphosresearch.co.uk</a></p>
        <p>Phone <a href="tel:+441212332479">+44 (0)121 233 2479</a></p>

	      <p style="font-size: 80%;">
        	Xiphos Research Ltd. is a private limited company<br />
          registered in England and Wales, 07917611
        </p>
      </div><!-- .col -->

      <div class="col m6 s12 center">
        <h5>UK Head Office</h5>
        <p class="black-text text-lighten-4">
          Unit 9<br />
          58 Spencer Street<br />
          Birmingham<br />
          West Midlands<br />
          B18 6DS<br />
        </p>
      </div><!-- .col -->
    </div><!-- .row -->    

    <div class="row center">
      <div class="author" style="display: inline-block;">
        <div class="center">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAMvAAAAJDNjODQxNjliLTcwYjQtNGMzOC1hZTkzLWYzZTExMjBjM2RlMA.jpg" class="circle" width="100" />
          <h5>Mike Kemp</h5>
          <p class="no-margin">Managing Director</p>
        </div><!-- .card-content -->
      </div><!-- .author -->

      <div class="author" style="display: inline-block;">
        <div class="center">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/1/005/0b1/1b3/3991553.jpg" class="circle" width="100" />
          <h5>Darren Martyn</h5>
          <p class="no-margin">Senior Researcher</p>
        </div><!-- .card-content -->
      </div><!-- .author -->

      <div class="author" style="display: inline-block;">
        <div class="center">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAw0AAAAJDY5N2FiMTQ5LWQ3ZDMtNDhhMS1iNWZhLTVkY2M4NGU1YmQ3ZQ.jpg" class="circle" width="100" />
          <h5>Harry Roberts</h5>
          <p class="no-margin">Senior Analyst</p>
        </div><!-- .card-content -->
      </div><!-- .author -->

      <div class="author" style="display: inline-block;">
        <div class="center">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAdTAAAAJDUxZDE4NzU0LTE3YmUtNDE2ZC04MGM5LWQ2ZTE3OWE5NmJmMg.jpg" class="circle" width="100" />
          <h5>Gavin Kelso</h5>
          <p class="no-margin">Business Development</p>
        </div><!-- .card-content -->
      </div><!-- .author -->
    </div><!-- .row -->
    <br /><br /><br />
  </section>

<script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha384-R4/ztc4ZlRqWjqIuvf6RX5yb/v90qNGx6fS48N0tRxiGkqveZETq72KgDVJCp2TC" crossorigin="anonymous"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>