<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en-US" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US" class="no-js"> <!--<![endif]-->

<head>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Title -->
    <title>{{ page.title }} - Xiphos Research</title>

    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//media.licdn.com' />

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,700,700i" rel="stylesheet">

    <link href="/css/materialize.css" rel="stylesheet" media="screen,projection" />

    <link href="/css/style.css" rel="stylesheet" media="screen,projection" />
    <link href="/css/style2.css" rel="stylesheet" media="screen,projection" />
</head>

<body>

<header style="background: #111; padding-bottom: 20px; padding-top: 10px;">
  <div class="container">
    <section style="padding-right: 20px; padding-left: 20px;">
      <div class="left white-text">
        <h4 style="margin-bottom: 0;">{{ page.title }}</h4>
      </div>
      <a id="logo-container" href="#">
        <img class="right" src="/img/logo-white.png" height="40" style="margin-top: 10px;" />
      </a>
      <div class="hide-on-small-only right white-text" style="text-align: right; margin-right: 10px; margin-top: 15px; line-height: 1.2rem">
        XIPHOS<br />
        RESEARCH
      </div>
      <div class="clearfix"></div>
    </section>
  </div>
</header>

<div class="container" style="background: #eee; padding: 10px; padding-left: 20px; padding-right: 20px;">
  <div class="right">
    <a href="/">Return &#9658;</a>
  </div>
  Updated {% assign d = page.date | date: "%-d" %}
{% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}
{{ page.date | date: "%B" }},
{{ page.date | date: "%Y" }}
</div> 

<div class="container">
  <section>

    {{ content }}

  </section>
</div>

<div class="container" style="background: #eee; padding: 10px; padding-left: 20px; padding-right: 20px; margin-top: 30px; padding-bottom: 40px; padding-top: 15px;">
  Copyright &copy; {{ page.date | date: "%Y" }} Xiphos Research Ltd. All Rights Reserved.
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha384-R4/ztc4ZlRqWjqIuvf6RX5yb/v90qNGx6fS48N0tRxiGkqveZETq72KgDVJCp2TC" crossorigin="anonymous"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>